<h2>Featured Posts</h2>
<%data.forEach( (key)=>{ %>
    <div style="border: 2px solid lightseagreen;">
        <form action="/blogdetailopen/<%=key._id%>" method="post">
            <input type="hidden" name="" value="<%=key._id%>">
            <button><img src="<%=key.postimg%>" alt="" height="200" width="300"></button>
        </form>
        <h3><%=key.date%></h3>
        <h3><%=key.title%></h3>
        <h3><%=key.smalldesc%></h3>
    </div>

<%})%>